<h2>Account</h2>

<div class="wrapper">

  <div class="left_box">
    <% if logged_in? %>
    <h3 class="message" id="<%= @type %>">
    Logged in as <%= current_user.username %>
    </h3>
    <form class="" action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>

    <% else %>
      <h3>Login</h3>
      <form class="" action="/session" method="post">

        <input type="input" placeholder="email"name="email" value="">

        <input type="password" placeholder="password" name="password" value="">
        <button>LOGIN</button>
    <% end %>
      </form>


    <div class="info">
      <!--  return message from account creation-->
      <% if @errors %>
        <% @errors.each do |key, value| %>
          <p class="message" id="<%= @type %>">
          <%= key.to_s.upcase + " " + value.to_s -%></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="right_box">
    <% if logged_in? %>
      <h3>Account Info</h3>
      <p>Username: <%= current_user.username %></p>
      <p>Email: <%= current_user.email %></p>
      <p>Collections: </p>
      <p>Songs: </p>
      <button><a href="/account_update">Update</a></button>
    <% else %>
      <form class="" action="/new_user" method="post">
        <h3>Sign Up</h3>
        <input type="input" placeholder="email" name="email" value="">

        <input type="input" placeholder="username" name="username" value="">

        <input type="password" placeholder="password" name="password" value="">

        <input type="password" placeholder="confirm password" name="password_confirmation" value="">

        <button>SIGN UP</button>

      </form>
    <% end %>

  </div>



</div>
