<h2>Add New</h2>

<textarea placeholder="Paste link to song" name="link_to_song" id="file "rows="4" cols="40"></textarea>

<input type="file" name="user_file" value="">

<% mp3_file = File.open('/Users/Soundtemple/Downloads/Music to file/Rufus-Inner_Bloom_Sasha_Remix.mp3', "rb") %>
<% tag = ID3Tag.read(mp3_file)%>

<p><%=  "Artist: #{tag.artist}" %></p>
<p><%=  "Title:  #{tag.title}" %></p>
<p><%=  "Album:  #{tag.album}" %></p>
<p><%=  "Year:   #{tag.year}"  %></p>
<p><%=  "Genre:  #{tag.genre}" %></p>



<img class="cover" src="data:image/jpg;base64,<%= Base64.encode64(tag.get_frames(:APIC).first.content) %>" alt="" />
