

<div class="wrapper">
  <div class="left_box">
    <h2>Upload</h2>

    <form action= "/new" method="post" enctype= "multipart/form-data">
      <input type="file" name="file" value="">
      <button>Upload</button>
    </form>





    <div class="info">
      <!--  return message from account creation-->
      <% if @message %>
        <% @message.each do |key, value| %>
          <p class="message" id="<%= @type %>">
          <%= key.to_s.upcase + " " + value.to_s %></p>
        <% end %>
      <% end %>

    </div>

  </div>

  <div class="right_box">
     <% if @new_song %>

    <h2>Update Details</h2>
    <form class="" action="/edit/<%= @new_song.id %>" method="post">
        <input type="input" placeholder="Artist" name="artist" value="<%= @new_song.artist %>">

        <input type="input" placeholder="Title" name="title" value="<%= @new_song.title %>">

        <input type="input" placeholder="Album" name="album" value="<%= @new_song.album %>">

        <input type="input" placeholder="Genre" name="genre" value="<%= @new_song.genre  %>">

        <textarea placeholder="Paste link to song" name="location_url" id="file "rows="3" cols="40"><%= @new_song.get_song_url %></textarea>

        <select name="song_type">
          <option value="mp3">mp3</option>
          <option value="embed">Embed</option>
          <option value="video">Video Clip</option>
        </select>

        <button>Update</button>



      </form>

    <% end %>
  </div>


</div>


</div>
